* {
	margin: 0;
	padding: 0;
}

#wrapper {
	text-align: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(135deg, #336E7B 35%, #674172, #22264b);
	box-sizing: border-box;
	padding: 1em;
}

h1 {
	color: #FFF;
	font-size: 46px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: 'Bungee Hairline', cursive;
}

#dashboard {
	width: 70%;
	height: 90%;
	margin-top: 1em;
	float: left;
}

.section {
	width: 50%;
	height: 50%;
	float: left;
	border-radius: 15px;
	background-color: rgba(237, 237, 237, 0.3);
}

#chartOne {
	margin-right: 10px;
	margin-bottom: 10px;
}

#chartTwo {
	width: 48%;

}

#chartThree {
	height: 48%;
	margin-right:  10px;
}

#chartFour {
	height: 48%;
	width: 48%;
	
}

#controls {
	width: 30%;
	height: 90%;
	float: left;
	background-color: rgba(237, 237, 237, 0.3);
	margin-top: 1em;
	border-radius: 15px;
}
